* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: #151515;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.notes{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.note{
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}