* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: #151515;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.notes{
  padding: 10px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.note{
  background-color: rgb(232, 232, 232);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 50rem;
}

form{
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

form input, form button{
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.title{
  display: flex;
  align-items: center;
  gap: 1rem;
}