.button {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 100px;
  background-color: crimson;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(0, 0, 0);
}
